import os

here = os.path.dirname(os.path.abspath(__file__))

# 配置上传文件夹和允许的文件扩展名
UPLOAD_FOLDER = os.path.join(here, 'uploads')
ALLOWED_EXTENSIONS = {'webp','png', 'jpg', 'jpeg', 'gif', 'bmp'}
MAX_CONTENT_LENGTH = 16 * 1024 * 1024  # 16MB上传限制

# 在这里配置您的API Key和Cookie
OPENAI_API_KEY = ""
MODEL_SCOPE_COOKIE = ""

# 图像生成默认参数
DEFAULT_WIDTH = 928
DEFAULT_HEIGHT = 1664


LORA_ARGS = [
    # {'modelVersionId': 310150, 'scale': 1},
    {'modelVersionId': 313167, 'scale': 1}
]
